{% load static %} 
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Home</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hE
 </head> 
<h1>Holaaaa!</h1> 
<ul> 
    {% for fact in listafacts %} 
    <div class="card" style="width: 18rem;"> 
        <img src="{% static 'images/gato.png' %}" alt="My image"> 
        <div class="card-body"> 
            <h5 class="card-title">FUN FACT CAT (Length: {{ fact.length }})</h5> 
            <p class="card-text">{{ fact.fact_text }}</p> 
        </div>
    </div>
    {% endfor %} 
</ul> 
</body> 
</html>


<ul> 
    {% for fact in listafacts %} 
    <div class="card" style="width: 18rem;"> 
        <img src="{% static 'images/gato.png' %}" alt="My image"> 
        <div class="card-body"> 
          <h5 class="card-title">FUN FACT CAT (Length: {{ fact.length }})</h5> 
          <p class="card-text">{{ fact.fact_text }}</p> 
          <th><a href="edicionFact/{{fact.fact_text}}" class="btn btn-info">Editar</a></th> 
          <th><a href="eliminarFact/{{fact.fact_text}}" class="btn btn-danger">Eliminar</a></th> 
        </div> 
      </div> 
    {% endfor %} 
</ul>


